.projects-wrapper {
	display: flex;
	justify-content: center;
	.projects-section {
		max-width: 1000px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.projects-title {
			margin-top: 80px;
			margin-bottom: 50px;
		}
	}
}

.projects {
	display: flex;
	justify-content: center;
	max-width: 900px;
}