.banner-element-hidden {
	transition: color 2s;
	color: transparent;
	opacity: 0;
}
.banner-element-hidden-slow {
	transition: color 3s;
	color: transparent;
	opacity: 0;
}

.google-pic-opacity-hidden {
	transition: opacity 3s;
	opacity: 0;
}

.banner {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	
	position: relative;
	z-index: 2;
	.banner-background {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 100vh;
		width: 100vw;
		z-index: 1;
		background: image-url("home/banner.jpg");
		background-size: cover;
	}
}

.static-text-wrapper {
	z-index: 4;
	color: white;
	text-align: center;
	width: 1000px;
	height: 133px;
	position: relative;
	.albert-montolio {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		text-align: center;
		
		font-size: 60px;
	}

	
	.curriculum {
		position: absolute;
		top: 85px;
		left: 0px;
		width: 100%;
		font-weight: 400;
		text-align: center;
		
		font-size: 40px;

	}
}

.banner-element-white {
	color: white;
}

.banner-element-grayish {
	color: rgb(240,240,240);
}





.dynamic-text-wrapper {
	z-index: 4;
	color: white;
	text-align: center;
	width: 1000px;
	height: 46px;
	position: relative;
	
	font-weight: 400;
	color: rgb(240,240,240);
	.web-developer-wrapper {
		// font-size: 40px;
		position: absolute;
		display: flex;
		flex-direction: row;
		width: 100%;
		font-size: 40px;
		line-height: 1.5;
	}

}

// transition banner layerr

.banner-layer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	animation-duration: 10s;
	animation-name: change-opacity;
	background-color: rgba(0,0,0,1);
	opacity: 0.8;
}

@keyframes change-opacity {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 0.9;
	}

	100% {
		opacity: 0.8;
	}
}



.typed-cursor {
	display: none;
}



.banner {
	.pic-google-speaker {
		position: absolute;
		bottom: 10px;
		right: 10px;
		z-index: 4;
		width: 80px;
		height: 80px;
	}
}

.banner {
	.start-position-wrapper {
		z-index: 5;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100vw;
		height: 40px;
		display: flex;
		justify-content: center;
		
		.start-wrapper {
			z-index: 6;
			display: flex;
			flex-direction: column;
			align-items: center;
			&:hover {
				color: rgb(200,200,200);
				cursor: pointer;
			}
		}
	}
}







@media only screen and (max-width: 600px) {
	.dynamic-text-wrapper {
		.web-developer-wrapper {
			font-size: 25px;
			line-height: 1.5;
			padding: 0px 15px;
		}
	}
	.static-text-wrapper {
	  .albert-montolio {
	      font-size: 40px;
	  }
	  .curriculum {
	  	font-size: 25px;
	  	padding: 15px;
	  	line-height: 1.4;
	  }
	}
  .banner {
  	height: calc(100vh - 80px);
		
		.pic-google-speaker {
			top: 10px;
			height: 10px;
			width: 60px;
			height: 60px;
		}
	}
}


















