

.banner {
	width: 100vw;
	height: 100vh;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	background: image-url("home/banner.jpg");
	position: relative;
	z-index: 2;

}

.static-text-wrapper {
	z-index: 4;
	color: white;
	text-align: center;
	width: 1000px;
	height: 133px;
	position: relative;
	.albert-montolio {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		text-align: center;
		color: white;
	}

	
	.curriculum {
		position: absolute;
		top: 85px;
		left: 0px;
		width: 100%;
		font-weight: 400;
		text-align: center;
		color: rgb(240,240,240);
	}
}

.dynamic-text-wrapper {
	z-index: 4;
	color: white;
	text-align: center;
	width: 1000px;
	height: 46px;
	position: relative;
	
	font-weight: 400;
	color: rgb(240,240,240);
	.web-developer-wrapper {
		// font-size: 40px;
		position: absolute;
		display: flex;
		flex-direction: row;
		width: 100%;
	}

}

// transition banner layerr

.banner-layer {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 100vh;
	z-index: 3;
	animation-duration: 10s;
	animation-name: change-opacity;
	background-color: rgba(0,0,0,1);
	opacity: 0.8;
}

@keyframes change-opacity {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 0.9;
	}

	100% {
		opacity: 0.8;
	}
}



.typed-cursor {
	display: none;
}



.banner {
	.pic-google-speaker {
		position: absolute;
		bottom: 10px;
		right: 10px;
		color: white;
		z-index: 4;
		width: 80px;
		height: 80px;
	}
}

.banner {
	.start-position-wrapper {
		z-index: 5;
		position: absolute;
		bottom: 0px;
		left: 0px;
		width: 100vw;
		height: 40px;
		display: flex;
		justify-content: center;
		color: white;
		.start-wrapper {
			z-index: 6;
			display: flex;
			flex-direction: column;
			align-items: center;
			&:hover {
				color: rgb(200,200,200);
				cursor: pointer;
			}
		}
	}
}



.my-hide {
	display: none !important;
}



@media only screen and (max-width: 600px) {
	.web-developer-wrapper {
		font-size: 25px;
		line-height: 1.5;
		padding: 0px 15px;
	}
  .albert-montolio {
      font-size: 40px;
  }
  .curriculum {
  	font-size: 25px;
  	padding: 20px;
  	line-height: 1.4;
  }
  .banner {
		.start-position-wrapper {
			bottom: 80px;
		}
		.pic-google-speaker {
			bottom: 80px;
		}
	}
}

@media only screen and (min-width: 600px) {
	.web-developer-wrapper {
		font-size: 40px;
		line-height: 1.5;
	}
  .albert-montolio {
      font-size: 60px;
  }
  .curriculum {
  	font-size: 40px;
  }
  
}
















