.technologies-section {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	z-index: 1;
	position: relative;
	.technologies-content {
		max-width: 900px;
		z-index: 3;
	}

	.experience {
		margin-top: 20px;
	}
	
	.technologies-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 40px;
		
	}
}

.toolkit {
	margin-top: 20px;

	background-color: #373A36;
	color: white;
	text-align: center;
	padding: 20px 0px;
	font-weight: 400px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	.text {
		margin: 0px 20px;
	}
}

.technologies-horizontal-wrapper {
	
	margin-top: 30px;
	
	.technology-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px 5px;
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			// background-color: rgb(220,220,200);
			width: 80px;
			height: 80px;
		}
		.pic-rails {
			width: 80px;
			height: 80px;
		}
		.logo-title-wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			.title {
				text-align: center;
				margin: 12px 0px 6px 0px;
			}
			.text {
				// background-color: pink;
				font-size: 14px;
				text-align: justify;
			}
		}
	}
}

// media queries

@media only screen and (max-width: 600px) {
	.full-stack {
		margin-top: 20px;
	}
	.full-stack, .experience {
		padding: 0px 15px;
	}

	.technologies-horizontal-wrapper {

		.technology-wrapper {
			margin-bottom: 30px;
			.logo-title-wrapper {
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				margin-bottom: 10px;
				.title {
					margin-left: 20px;
				}
			}
		}

	}
	.toolkit {
		margin-top: 0px;
	}

}













