.technologies-section {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	.technologies-content {
		max-width: 900px;
	}

	.experience {
		margin-top: 20px;
	}
	
	.technologies-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 40px;

		.technology-wrapper {
			display: flex;
			// background-color: blue;
			margin-bottom: 40px;
			.logo {
				// background-color: orange;
				display: flex;
				align-items: center;
				.pic-rails {
					width: 100px;
					height: 100px;
				}
			}
			.description-wrapper {
				// background-color: pink;
				padding: 0px 40px;
				.text {
					margin-top: 10px;
				}
			}
		}
	}
}

.toolkit {
	background-color: rgb(245,245,245);
	border-top: 1px solid rgb(235,235,235);
	border-bottom: 1px solid rgb(235,235,235);
	text-align: center;
	padding: 20px 0px;
	font-weight: 400px;
}

.technologies-horizontal-wrapper {
	
	margin-top: 30px;
	
	.technology-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0px 5px;
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			// background-color: rgb(220,220,200);
			width: 80px;
			height: 80px;
		}
		.pic-rails {
			width: 80px;
			height: 80px;
		}
		.description-wrapper {
			.title {
				text-align: center;
				// background-color: orange;
				margin: 12px 0px 6px 0px;
			}
			.text {
				// background-color: pink;
				font-size: 14px;
				text-align: justify;
			}
		}
	}
}

// media queries

@media only screen and (max-width: 600px) {
	.full-stack {
		margin-top: 20px;
	}
	.full-stack, .experience {
		padding: 0px 15px;
	}
	
}















