.technologies-section {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	.technologies-content {
		max-width: 900px;
	}
	
	.technologies-wrapper {
		display: flex;
		flex-direction: column;
		margin-top: 40px;

		.technology-wrapper {
			display: flex;
			// background-color: blue;
			margin-bottom: 40px;
			.logo {
				// background-color: orange;
				display: flex;
				align-items: center;
				.pic-rails {
					width: 100px;
					height: 100px;
				}
			}
			.description-wrapper {
				// background-color: pink;
				padding: 0px 40px;

			}
		}
	}
}

.technologies-horizontal-wrapper {
	display: flex;
	justify-content: space-between;
	background-color: gray;
	width: 100%;
	.technology-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		// width: 25%;
		.logo {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: rgb(220,220,200);
			width: 80px;
			height: 80px;
		}
		.pic-rails {
			width: 80px;
			height: 80px;
		}
		.description-wrapper {
			.title {
				background-color: orange;
			}
			.text {
				background-color: pink;
				font-size: 14px;
			}
		}
	}
}














