<div class="banner">

	<div class="static-text-wrapper my-hide">

		<div class="albert-montolio my-hide">
			Albert Montolio
		</div>
		

		<div class="curriculum my-hide">
			Web Developer & Mechanical Engineer
		</div>

	</div>

	<div class="dynamic-text-wrapper">
		<span class="web-developer-wrapper dynamic-text"></span>
	</div>

	<div class="banner-layer">
		
	</div>

	<div class="start-position-wrapper my-hide">
		<div class="start-wrapper">

			<div class="text">
				start
			</div>

			<div class="arrows">
				<i class="fas fa-angle-double-down"></i>
			</div>

		</div>
	</div>

	<%= image_tag("google-speaker.png", class: "pic-google-speaker my-hide") %>
	

</div>

<script type="text/javascript">
	window.addEventListener("load",function() {
	    setTimeout(function(){
	        // This hides the address bar:
	        window.scrollTo(0, 1);
	    }, 0);
	});
</script>


