<div class="banner">

	<div class="static-text-wrapper my-hide">

		<div class="albert-montolio banner-element-hidden">
			Albert Montolio
		</div>
		

		<div class="curriculum banner-element-hidden">
			Web Developer & Mechanical Engineer
		</div>

	</div>

	<div class="dynamic-text-wrapper">
		<span class="web-developer-wrapper dynamic-text"></span>
	</div>

	<div class="banner-layer">
		
	</div>

	<div class="start-position-wrapper banner-element-hidden-slow">
		<div class="start-wrapper">

			<div class="text">
				start
			</div>

			<div class="arrows">
				<i class="fas fa-angle-double-down"></i>
			</div>

		</div>
	</div>

	<%= image_tag("google-speaker.png", class: "pic-google-speaker google-pic-opacity-hidden") %>
	

</div>




