<div class="contact-section">
	<div class="contact-content">
		<h2 class="contact-title text-center">
			Let's talk
		</h2>
		<p class="contact-description text-center">
			I'm available for contractual work related with Web Development, especially Ruby on Rails for Backend and Angular for Front End.
		</p>
		<a href="mailto:contact@albertmontolio.com" class="email">contact@albertmontolio.com</a>
	</div>
</div>