<div class="footer-section">
	<div class="footer-content">
		<div class="social-media">
			<a href="https://www.facebook.com/Albert-Montolio-2150341415206851/?view_public_for=2150341415206851" target="_blank" >
				<i class="fab fa-facebook-f"></i>
			</a>
			<a href="https://twitter.com/AlbertMontolio" target="_blank" >
				<i class="fab fa-twitter"></i>
			</a>

			<a href="https://medium.com/@albertmontolio" target="_blank" >
				<i class="fab fa-medium-m"></i>
			</a>
			
			<a href="https://github.com/AlbertMontolio" target="_blank" >
				<i class="fab fa-github"></i>
			</a>
			
			<a href="https://www.youtube.com/channel/UCbwhP3LpxgD9wYvb9o4Cb1g?view_as=subscriber" target="_blank" >
				<i class="fab fa-youtube"></i>
			</a>
			

		</div>
		<p class="made-by">
			Designed & developed by Albert Montolio
		</p>
	</div>
</div>