<div class="footer-section">
	<div class="footer-content">
		<div class="social-media">
			<i class="fab fa-facebook-f"></i>
			<i class="fab fa-twitter"></i>
			<i class="fab fa-medium-m"></i>
			<i class="fab fa-github"></i>
			<i class="fab fa-youtube"></i>
		</div>
		<p class="made-by">
			Designed & developed by Albert Montolio
		</p>
	</div>
</div>