<div class="mobile-wrapper">
	<div class="mobile-sector">
		<div class="iphones">
			
			<div class="column-left iphone-column">
				<%= image_tag("iphone-left.png", class: "iphone-pic iphone-left") %>
			</div>
			<div class="column-center iphone-column">
				<%= image_tag("iphone-center.png", class: "iphone-pic iphone-center") %>
			</div>
				

			<div class="column-right iphone-column">
				<%= image_tag("iphone-right.png", class: "iphone-pic iphone-right") %>
			</div>

			<div class="grayish-layer-wrapper">
				
			</div>
				
		</div>


					
	</div>

	<div class="explanation-wrapper">
		<h2 class="title">
			Everything I build is mobile responsive
		</h2>
		<p class="description">
			Google eliminates pages from his engine that are not responsive. It's a must nowadays. Among other technologies, I use bootstrap, responsive CSS, media queries etc. I also optimize the size of the pictures. JS and CSS are of course compressesd and minified. Your webpage will be quick, responive and will look awesome in every device.
		</p>
	</div>
</div>