<div class="mobile-section">
	<div class="mobile-content">
		
		
		<div class="image-mbl">
			<img src="<%= image_path("iphones-black.png") %> " class="pic-iphones" alt="">



		</div>

		
		<div class="explanation-background">
			
		</div>

		<div class="explanation-wrapper">
			<h2>
				Everything I build is mobile responsive
			</h2>
			<p class="description">
				Google eliminates pages from his engine that are not responsive. It's a must nowadays. Among other technologies, I use bootstrap, responsive CSS, media queries etc. I also optimize the size of the pictures. JS and CSS are of course compressesd and minified. Your webpage will be quick, responive and will look awesome in every device.
			</p>
		</div>





	</div>

</div>

<h1>new section</h1>

<br>
<br>
<br>
<br>
<br>
<br>

<h2> not seeing</h2>
