
	<main class="cd-main">
		<header>
			<h1>My best projects</h1>
		</header>

		<ul class="cd-gallery">
			<li class="cd-item" style="background-image: linear-gradient(-225deg, rgba(250,250,250,0.4) 0%, rgba(245,245,245,0.6) 50%), url('<%= image_path("projects/code.jpg") %>')">
				<a href="https://s.codepen.io/curthusting/debug/QwxBpx">
					<div>
						<h2>Codium</h2>
						<p>Create coding cheetsheets</p>
						<b>View More</b>
					</div>
				</a>
			</li>

			<li class="cd-item" style="background-image: linear-gradient(-225deg, rgba(250,250,250,0.4) 0%, rgba(245,245,245,0.6) 50%), url('<%= image_path("projects/skills.jpg") %>')">
				<a href="item-2.html">
					<div>
						<h2>Skills book</h2>
						<p>Find help within your company</p>
						<b>View More</b>
					</div>
				</a>
			</li>

			<li class="cd-item" style="background-image: linear-gradient(-225deg, rgba(250,250,250,0.4) 0%, rgba(245,245,245,0.6) 50%), url('<%= image_path("projects/mobile.jpg") %>')">
				<a class="dark-text" href="item-3.html">
					<div>
						<h2>Ionic</h2>
						<p>Native apps with ionic</p>
						<b>View More</b>
					</div>
				</a>
			</li>

			<li class="cd-item" style="background-image: linear-gradient(-225deg, rgba(250,250,250,0.4) 0%, rgba(245,245,245,0.6) 50%), url('<%= image_path("projects/bot.jpg") %>')">
				<a href="item-4.html">
					<div>
						<h2>Chatbot</h2>
						<p>Dialogflow</p>
						<b>View More</b>
					</div>
				</a>
			</li>
		</ul> <!-- .cd-gallery -->
	</main> <!-- .cd-main -->

	<div class="cd-folding-panel">
		
		<div class="fold-left"></div> <!-- this is the left fold -->
		
		<div class="fold-right"></div> <!-- this is the right fold -->
		
		<div class="cd-fold-content">
			<!-- content will be loaded using javascript -->
		</div>

		<a class="cd-close" href="#0"></a>
	</div> <!-- .cd-folding-panel -->


<script>
	jQuery(document).ready(function($){
		var gallery = $('.cd-gallery'),
			foldingPanel = $('.cd-folding-panel'),
			mainContent = $('.cd-main');
		/* open folding content */
		gallery.on('click', 'a', function(event){
			event.preventDefault();
			openItemInfo($(this).attr('href'));
		});

		/* close folding content */
		foldingPanel.on('click', '.cd-close', function(event){
			event.preventDefault();
			toggleContent('', false);
		});
		gallery.on('click', function(event){
			/* detect click on .cd-gallery::before when the .cd-folding-panel is open */
			if($(event.target).is('.cd-gallery') && $('.fold-is-open').length > 0 ) toggleContent('', false);
		})

		function openItemInfo(url) {
			var mq = viewportSize();
			if( gallery.offset().top > $(window).scrollTop() && mq != 'mobile') {
				/* if content is visible above the .cd-gallery - scroll before opening the folding panel */
				$('body,html').animate({
					'scrollTop': gallery.offset().top
				}, 100, function(){ 
		           	toggleContent(url, true);
		        }); 
		    } else if( gallery.offset().top + gallery.height() < $(window).scrollTop() + $(window).height()  && mq != 'mobile' ) {
				/* if content is visible below the .cd-gallery - scroll before opening the folding panel */
				$('body,html').animate({
					'scrollTop': gallery.offset().top + gallery.height() - $(window).height()
				}, 100, function(){ 
		           	toggleContent(url, true);
		        });
			} else {
				toggleContent(url, true);
			}
		}

		function toggleContent(url, bool) {

			console.log(url);

			var const1 = '<div class="cd-fold-content single-page">'+
              '   <img src="http://lorempixel.com/1600/900/nature/5">'+
              '   <h2>Title1</h2>'+
              '   <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, laboriosam?</em>'+
              '   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!</p>'+
              '   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!</p>'+
              '   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!</p>'+
              '   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!</p>'+
              '</div>';

        var const2 = '<div class="cd-fold-content single-page">'+
              '   <img src="http://lorempixel.com/1600/900/nature/5">'+
              '   <h2>Title2</h2>'+
              '   <em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, laboriosam?</em>'+
              '   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!</p>'+
              '   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!</p>'+
              '   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!</p>'+
              '   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus tempora nostrum aut quam praesentium veritatis nisi, odio eius, voluptatibus, iure neque commodi corrupti, inventore laborum fugiat itaque. Pariatur rem veritatis earum quia maxime praesentium accusantium ipsam veniam tenetur hic tempora, unde ipsa esse, aut est repellendus porro, maiores corporis illo!</p>'+
              '</div>'

      var toShow = const1;

			if( bool ) {
				/* load and show new content */
				var foldingContent = foldingPanel.find('.cd-fold-content');
	            
          foldingContent.html(
          		toShow
              );
              setTimeout(function(){
                  $('body').addClass('overflow-hidden');
                  foldingPanel.addClass('is-open');
                  mainContent.addClass('fold-is-open');
              }, 100);



				// foldingContent.load(url+' .cd-fold-content > *', function(event){
				// 	setTimeout(function(){
				// 		$('body').addClass('overflow-hidden');
				// 		foldingPanel.addClass('is-open');
				// 		mainContent.addClass('fold-is-open');
				// 	}, 100);
					
				// });
			} else {
				/* close the folding panel */
				var mq = viewportSize();
				foldingPanel.removeClass('is-open');
				mainContent.removeClass('fold-is-open');
				
				(mq == 'mobile' || $('.no-csstransitions').length > 0 ) 
					/* according to the mq, immediately remove the .overflow-hidden or wait for the end of the animation */
					? $('body').removeClass('overflow-hidden')
					
					: mainContent.find('.cd-item').eq(0).one('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend', function(){
						$('body').removeClass('overflow-hidden');
						mainContent.find('.cd-item').eq(0).off('webkitTransitionEnd otransitionend oTransitionEnd msTransitionEnd transitionend');
					});
			}
			
		}

		function viewportSize() {
			/* retrieve the content value of .cd-main::before to check the actua mq */
			return window.getComputedStyle(document.querySelector('.cd-main'), '::before').getPropertyValue('content').replace(/"/g, "").replace(/'/g, "");
		}
	});
</script>