<div class="speaker-section">
	<div class="speaker-content">

		<h2 class="speaker-title">
			Tech-Speaker at Google I/O 2018 in Barcelona
		</h2>

		<div class="speaker-gallery">
			<img src="<%= image_path("google-speaker.png") %>" alt="" class="pic-speaker">
			<img src="<%= image_path("speaker.jpg") %>" alt="" class="pic-speaker">
			<img src="<%= image_path("google.png") %>" alt="" class="pic-speaker">
			<img src="<%= image_path("public-speaker.png") %>" alt="" class="pic-speaker public-speaker">
		</div>

		
		<p class="workshop-description">I held a workshop on how to build a Chatbot with the Digital Flow technology from Google. As a Business Developer of Le Wagon, I run some workshops to expand the brand: Ruby for Beginners, Advanced HTML & CSS, Design for non-designers etc. </p>
		

	</div>
</div>



