<div class="speaker-section">
	<div class="speaker-content">

		<h2 class="speaker-title">
			Tech-Speaker at Google I/O 2018 in Barcelona
		</h2>

		<div class="speaker-gallery-wrapper">
		
			<div class="speaker-gallery">
				<img src="<%= image_path("google-speaker.png") %>" alt="" class="pic-speaker">
				<img src="<%= image_path("speaker.jpg") %>" alt="" class="pic-speaker">
				<img src="<%= image_path("google.png") %>" alt="" class="pic-speaker">
				<img src="<%= image_path("public-speaker.png") %>" alt="" class="pic-speaker public-speaker">
			</div>
		</div>

		<p class="workshop-description">I had the opportunity to represent my coding academy in a Google I/O Extended event. We taught how to build a Chatbot with the Digital Flow technology from Google. As a Business Developer for Le Wagon, I also run workshops to expand the brand. </p>
		
	</div>
</div>



