<div class="project-card" data-aos="fade-up-right">
	
	<div class="topbar">
		<div class="small-btns">
			<div class="circle-1 circle"></div>
			<div class="circle-2 circle"></div>
			<div class="circle-3 circle"></div>
		</div>
	</div>

	<%= link_to root_path do %>
		<div class="card-img-wrapper">
			<div class="opac-back">
				
			</div>
			<img src="<%= image_path("projects/codium.png") %>" alt="" class="card-img">
			<div class="tags-more-wrapper">
				<div class="tags">
					<div class="tag">
						Rails
					</div>
					<div class="tag">
						React
					</div>
					<div class="tag">
						Ruby
					</div>
				</div>
				<div class="more-wrapper">
					<div class="more">
						more
					</div>
					
				</div>
			</div>
		</div>
	<% end %>

	<div class="description-card">
		<div class="title">
			Project: Codium
		</div>
		<div class="info-1 info">
			Some client
		</div>
		<div class="info-2 info">
			Published: Today
		</div>
	</div>
</div>



