<div class="projects-wrapper">
	<div class="particles-background" id="particles-js">
		
	</div>
	<div class="projects-section">
		<h2 class="projects-title">Latest work</h2>
		<div class="projects">
			<div class="content">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						
						<%= render "pages/projects/project_card_codium" %>

					</div>
					<div class="col-xs-12 col-sm-6">
						
						<%= render "pages/projects/project_card_skills_book" %>

					</div>
					<div class="col-xs-12 col-sm-6">
						
						<%= render "pages/projects/project_card_schulungssystem" %>

					</div>
					<div class="col-xs-12 col-sm-6">
						
						<%= render "pages/projects/project_card_zeiterfassung" %>

					</div>
				</div>
			</div>
			
		</div>
	</div>

</div>




