<div class="projects-wrapper">
	<div class="particles-background" id="particles-js">
		
	</div>
	<div class="projects-section">
		<h2 class="projects-title">Latest work</h2>
		<div class="projects">
			<div class="container">
				<div class="row">

					<% @projects.each do |project| %>
						<div class="col-xs-12 col-sm-6">
							<%= render "pages/projects/project_card", project: project %>
						</div>
					<% end %>
					
				</div>
			</div>
			
		</div>
	</div>

</div>




