<div class="projects-wrapper">
	<div class="projects-section">
		<h2>Projects</h2>
		<div class="projects">
			<div class="content">
				<div class="row">
					<div class="col-xs-12 col-sm-6">
						
						<%= render "pages/projects/project_card" %>

					</div>
					<div class="col-xs-12 col-sm-6">
						
						<%= render "pages/projects/project_card" %>

					</div>
					<div class="col-xs-12 col-sm-6">
						
						<%= render "pages/projects/project_card" %>

					</div>
					<div class="col-xs-12 col-sm-6">
						
						<%= render "pages/projects/project_card" %>

					</div>
				</div>
			</div>
			
		</div>
	</div>

</div>