<div class="get-clients-section">
	<div class="sentence dark-background">
		Let's build your idea together
	</div>

	<div class="image-success-wrapper parallax" style="background-image: linear-gradient(-225deg, rgba(250,250,250,0.4) 0%, rgba(245,245,245,0.6) 50%), url('<%= image_path("success.jpg") %>')">
		
	</div>
</div>