<div class="technologies-section">

	<div class="particles-background" id="particles-js-technologies">
		
	</div>

	<div class="technologies-content">

		<div class="profile-wrapper">
			
			<%= image_tag("profile.png", class: "pic-profile") %>
			
			<div class="description-wrapper">
				<h2 class="full-stack">
					I am a Full-stack Web Developer
				</h2>
				<p class="experience">
					I have 2 years experience as a Web Developer. I learn to code in an international coding bootcamp. Before that, I worked for 5 years as a Computational Engineer in the german automotive industry (in R&D).
				</p>
			</div>
			
		</div>

		

		<div class="technologies-wrapper">

			<div class="technology-grid">

				<div class="el-logo">
					<img src="<%= image_path("technologies/rails.png") %>" class="el-pic-rails" alt="">
				</div>
				
				<h4 class="el-name">
					Ruby on Rails
				</h4>

				<p class="el-text">
					Rails is my main Web Framework. I've built 6 big Rails Applications. I use TDD and BDD (RSpec and Capybara). I really like the topic architecture of the code.
				</p>
			</div>

			<div class="technology-grid">

				<div class="el-logo">
					<img src="<%= image_path("technologies/js.png") %>" class="el-pic-rails" alt="">
				</div>
				
				<h4 class="el-name">
					JavaScript
				</h4>

				<p class="el-text">
					I work with ES6 and Webpack. Recently I've been developing Web Applications with Angular 6. I also build native apps with Ionic and Cordova.
				</p>
			</div>

		</div>

		<div class="toolkit">
			<i class="fas fa-toolbox"></i>
			<div class="text">
				My toolkit
			</div>
			<i class="fas fa-screwdriver"></i>
		</div>

		<%= render "pages/technologies/toolkit" %>

	</div>
</div>





















